<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <div class="form_container">
            <img class="logo" src="../static/imgs/logos/logo_yard_sale.svg" alt="logo">
            <h1 class="title">email has been sent</h1>
            <p class="subtitle">please check your inbox for instructions on how to reset your password</p>

            <div class="email_image">
                <img src="../static/imgs/icons/email.svg" alt="email">
            </div>

            <button class="primary_button login_button">Login</button>

            <p class="resend">
                <span>Did'nt receive the email</span>
                <a href="/">Resend</a>
            </p>
        </div>

    </div>
</body>
</html>