<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <title>Login</title>
</head>
<body>
    <div class="login">
        <div class="form_container">

            <img class="logo" src="../static/imgs/logos/logo_yard_sale.svg" alt="logo">
            <h1 class="title">Login</h1>
            <p class="subtitle">Enter your credentials</p>

            <form class="form" action="/">
                <label class="label" type="email" for="email">email</label>
                <input class="input input_email" type="email" id="email" placeholder="@.">
                <label class="label" for="password">password</label>
                <input class="input input_password" type="password" id="new_password" placeholder="*********">
                <input class="primary_button login_button" type="submit" value="log in">
                <a href="/">Forgot my password</a>
                <button class="secondary_button signup-button">Sign up</button>

            </form>
        </div>

    </div>
</body>
</html>